<?xml version="1.0" encoding="utf-8"?>
<manifest package="key.android.demo.FitDemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <supports-screens
        android:anyDensity="false"
        android:largeScreens="false"
        android:normalScreens="false"
        android:smallScreens="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity android:name=".activity.DemoActivity">
        </activity>
        <activity android:name=".activity.Dot9Activity">
        </activity>
        <activity
            android:name=".percent.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.ConfigChangesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.QualifierActivity">
        </activity>
        <activity android:name=".activity.TmpActivity">
        </activity>
        <activity android:name=".activity.ScaleTypeActivity">

        </activity>
        <activity android:name=".activity.QualifierMatchActivity">
        </activity>
        <activity android:name=".activity.ZsTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>